PORT=5801
NODE_ENV=development

DATABASE_URL=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
PERMIT_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
INTERNAL_DEVELOPER_API_KEY=

REDIS_URI=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=